= form_for @medical_specialization, :html => { :class => 'well form-horizontal' } do |f|
  = errors
  .form-panel
    .field
      = text f, :name
  .form-actions
    = submit f
    = back_button list_path

