- content_for :content do
  .span4.session.well
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      %legend= t :change_your_password
      = devise_error_messages!
      = f.hidden_field :reset_password_token 
      = f.password_field :password, :class => "span4", :placeholder => t(:new_password)
      = f.password_field :password_confirmation, :class => "span4", :placeholder =>  t(:confirm_new_password)
      = f.submit t(:change_my_password), :class => "btn btn-primary btn-block"
      = render "devise/shared/links"
= render :file => 'layouts/session'
