- content_for :content do
  .session
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put , :class => 'well form-horizontal' }) do |f|
      %fieldset
        %legend= t :change_your_password
        = devise_error_messages!
        = f.hidden_field :reset_password_token  
        .control-group
          = f.label User.human_attribute_name(:email), t(:new_password), :class => 'control-label'
          .controls= f.password_field :password
        .control-group
          = f.label t(:password_confirmation), t(:confirm_new_password), :class => 'control-label'
          .controls= f.password_field :password_confirmation
        .form-actions
          = f.submit t(:change_my_password), :class => "btn btn-primary"
          = render "devise/shared/links"
= render :file => 'layouts/application'
