- content_for :content do
  %legend= t "title.#{@entity_name}.show"
  %p#notice= notice
  %table.table.table-hover.table-bordered
    = yield
  .btn-toolbar
  = back_button list_path
= render :file => 'layouts/application'
