- content_for :content do
	.form-top
		= form_tag :statistics_perform_disease, :class=> 'well form-horizontal' do
			%legend="Estatisticas por Enfermedades"
			.control-group
				%label.control-label="Enfermedad"
				.controls
					%input{:type => :text, :id => :disease, :name=> :disease}
			.control-group
				%label.control-label="Año"
				.controls
					%input{:type => :text, :id => :year, :name=> :year}
			.form-actions
				= submit_tag "Ver", :class => "btn btn-primary pull-left" 

					
		%div#chart_consulta3

	- if not @amount_of_patients_on_year.nil?
		%ul
			%li
				- end_string = (@year.nil? or @year.empty?) ? "." : " en el año #{@year}."
				="#{@amount_of_patients_on_year} pacientes afectados#{end_string}"

	:javascript
		// Load the Visualization API and the piechart package.
		google.load('visualization', '1.0', {'packages':['corechart']});

		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawChart);

		// Callback that creates and populates a data table,
		// instantiates the pie chart, passes in the data and
		// draws it.
		function drawChart() {

			// Create the data table.
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Topping');
			data.addColumn('number', 'Slices');
			data.addRows([
				['Poblacion Afectada', #{@percentage_of_patient}],
				['Poblacion No Afectada', 100 - #{@percentage_of_patient}]
			]);

			// Set chart options
			var options = {'title':'Porcentaje de la poblacion afectada por la enfermedad','width':400, 'height':300};

			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.PieChart(document.getElementById('chart_consulta3'));
			chart.draw(data, options);
		}
		
= render :file => 'layouts/application'