- content_for :content do
	%legend=t 'statistics.simptomp.title'
	.row-fluid
		.span3.well.statistic-form-top
			= form_tag :statistics_perform_simptom, :class=> 'form-inline' do
				.control-group
					%label.control-label=t 'statistics.simptomp.simptomp'
					.controls
						%input{:type => :text, :id => :simptom, :name=> :simptom, :autofocus => true}
				.control-group
					%label.control-label=t 'statistics.simptomp.year'
					.controls
						- options = options_for_select([ [t("form.select.all.male"), "all"]])
						- options << options_from_collection_for_select(@years, :to_s, :to_s)
						= select_tag :year, options
				.form-actions= submit_tag t('statistics.show'), :class => "btn btn-primary pull-left" 
		- if not @percentage_of_patient.nil?
			.span7
				-#%legend=t 'statistics.simptomp.result.title'
				%div#percentage_of_patient_chart
				%div
					%ul
						%li
							- end_string = @year == 'all' ? "." : " en el año #{@year}."
							= "#{@amount_of_patients_on_year} pacientes con la sintomatologia \"#{@simptom}\"#{end_string}"
						%li="Tipo de tratamiento utilizado para el sintoma \"#{@simptom}\": #{@treatments_used.join(',')}."

	:javascript
		// Load the Visualization API and the piechart package.
		google.load('visualization', '1.0', {'packages':['corechart']});

		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawChart);

		// Callback that creates and populates a data table,
		// instantiates the pie chart, passes in the data and
		// draws it.
		function drawChart() {

			// Create the data table.
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Topping');
			data.addColumn('number', 'Slices');
			data.addRows([
				['Poblacion Afectada', #{@percentage_of_patient}],
				['Poblacion No Afectada', 100 - #{@percentage_of_patient}]
			]);

			// Set chart options
			var options = {'title':'#{t 'statistics.simptomp.result.percentage'}','width':750, 'height':275};

			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.PieChart(document.getElementById('percentage_of_patient_chart'));
			chart.draw(data, options);
		}

= render :file => 'layouts/application'