%p
  = t :hello
  = @resource
  \!
%p= t :someone_has_requested_a_link_to_change_your_password
%p= link_to  t(:change_my_password), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t :if_you_didnt_request_this_please_ignore_this_email
%p= t :your_password_wont_change_until_you_access_the_link
