- content_for :table_header do
	%th= translate_attribute(@entity_name,:id)
	%th= translate_attribute(@entity_name,:first_name)
	%th= translate_attribute(@entity_name,:last_name)
	%th= translate_attribute(@entity_name,:dni)
	%th= translate_attribute(@entity_name,:email)
	%th= translate_attribute(@entity_name,:is_medical)
	:javascript
		function tableColumnSortdDefinition() { return [null, null, null, null, null, null, null]; }
