<center>
<h1>Articulos</h1>
<div style="text-align: center; width: 368px; padding: 10px" class="rounded-corners" >
<%= form_tag search_articles_path, :method => 'get' do %>
  <%= text_field_tag :q, params[:q], :style=>'width: 300px; border: solid 1px #ddd' %>
  <%= submit_tag 'Buscar' %>
<% end %>
</div>
<br />

<% if @articles.empty? %>
  <div style="width: 368px; padding: 10px" class="rounded-corners">¡No se encontraron resultados!</div>
<% else %>
  <table class="rounded-corners" >
      <tr style="font-wigth: bold; border-bottom: solid 1px">
        <th style="border-bottom: solid 1px;">ID</th>
        <th style="border-bottom: solid 1px;">Título</th>
        <th style="border-bottom: solid 1px;">Contenido</th>
        <th style="border-bottom: solid 1px;">Publicación</th>
        <% if !defined?(@search_action) %>
          <th style="border-bottom: solid 1px;">Acciones</th>
        <% end %>
      </tr>

      <% @articles.each do |article| %>
        <tr>
          <td><%= article.id %></td>

          <td>
          <% if article.respond_to?(:highlight) and !article.highlight.nil? and !article.highlight.title.nil?  %>
            <%= raw article.highlight.title[0] %>
          <% else %>
            <%= article.title %>
          <% end %>
          </td>

          <% if article.respond_to?(:highlight) and !article.highlight.nil? and !article.highlight.content.nil? %>
            <td><%= raw article.highlight.content[0] %></td>
          <% else %>
            <td><%= article.content %></td>
          <% end %>

          <% if article.respond_to?(:highlight) and !article.highlight.nil? and !article.highlight.published_on.nil? %>
            <td><%= raw article.highlight.published_on[0] %></td>
          <% else %>
            <td><%= article.published_on %></td>
          <% end %>

          <% if !defined?(@search_action) %>
            <td style="width: 9%;"><%= link_to 'Ver', article %>
            <%= link_to 'Editar', edit_article_path(article) %>
            <%= link_to 'Borrar', article, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
          <% end %>
        </tr>
      <% end %>

  </table>
<% end %>

<br />

<% if !defined?(@search_action) %>
  <%= link_to 'Nuevo Articulo', new_article_path %>
<% end %>

<%= link_to 'Atrás', articles_path if params[:q] %>

<center/>