.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-align-justify
      - if not user_signed_in?
        %a.brand{:href => '/'}= t 'app.description'
      - if user_signed_in?
        %a.brand{:href => '/', :title => t('app.description') }= t 'app.name'
        .nav-collapse.collapse
          %ul.nav{:role => "navigation"}
            %li= link_to raw("<i class=\"icon-book\">&nbsp;</i>#{t('menu.medical_histories')}"), medical_histories_path, "tabindex" => "-1"
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.icon-calendar=" #{t 'menu.attention_times'}"
                %b.caret
              %ul.dropdown-menu
                %li= link_to t('menu.sub_menu.attention_times.assignment'), attention_times_setup_search_path, "tabindex" => "-1"
                -# %li= link_to t('menu.sub_menu.attention_times.my_attention_times'), attention_times_daily_attention_times_path, "tabindex" => "-1"
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.icon-signal=" #{t 'menu.statistics'}"
                %b.caret
              %ul.dropdown-menu
                %li= link_to t('menu.sub_menu.statistics.simptoms'), statistics_setup_simptom_path, "tabindex" => "-1"
                %li= link_to t('menu.sub_menu.statistics.diseases'), statistics_setup_disease_path, "tabindex" => "-1"
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.icon-wrench=" #{t 'menu.administration'}"
                %b.caret
              %ul.dropdown-menu
                -# %li= link_to t('menu.medicals'), medicals_path, "tabindex" => "-1"
                %li= link_to t('menu.medical_specializations'), "/medical_specializations", "tabindex" => "-1"
                %li= link_to t('menu.managerUsers'), users_path, "tabindex" => "-1"
                -#%li= link_to t('menu.confProfiles'), "#", "tabindex" => "-1"
          %ul.nav.pull-right
            %li#fat-menu.dropdown.open
              %ul.nav.pull-right
                %li= link_to raw("<i class=\"icon-user\">&nbsp;</i>#{t :login_as} #{current_user}"), "#", "tabindex" => "-1"
                %li= link_to raw("<i class=\"icon-off\">&nbsp;</i>#{t :sign_out}"),"#myModal", "tabindex" => "-1", "data-toggle" =>"modal", :id => "sing_out"
