- allergy_number = 0
%div
	= form.fields_for :allergies do |f|
		- allergy_number+=1
		%div.nested-form-panel
			-if allergy_number > @allergies_count
				= f.link_to_remove t('form.nested.delete')
			.row-fluid
				.span4= nested_datepicker f, :record_date, :allergy
				.span4= nested_text f, :cause, :allergy
			.row-fluid
				= nested_big_text f, :observations, :allergy, :allergy_observations
	= form.link_to_add t('form.nested.add'), :allergies