- if eval(variable_name(@entity_name)).errors.any?
  #error_explanation.hero-unit
    - errors_number = pluralize(eval(variable_name(@entity_name)).errors.count, "error")
    - entity_name = t "activerecord.models.#{@entity_name}"
    %h2= t :save_error, :errors => errors_number, :entity_name => entity_name
    %ul
      - eval(variable_name(@entity_name)).errors.messages.each do |a_message|
        %li
          - tab_name = t("activerecord.attributes.#{@entity_name}.#{a_message[0].to_s.partition('.').first}")
          = "#{tab_name}: #{a_message[1].first}."