%div
  = form.fields_for :medications do |f|
    %div.nested-form-panel
      .hide= f.link_to_remove t('form.nested.delete')
      .row-fluid
        .span5= nested_datepicker f, :begin_date, :medication
        .span5= nested_datepicker f, :end_date, :medication
      .row-fluid
        .span5= nested_text f, :name, :medication
        .span5= nested_text f, :dose, :medication
      .row-fluid
        .span5= nested_text f, :amount, :medication
        .span5= nested_text f, :route, :medication
  = form.link_to_add t('form.nested.add'), :medications