- exam_number = 0
%div
  = form.fields_for :medical_exams do |f|
    - exam_number+=1
    %div.nested-form-panel
      - if exam_number > @medical_exams_count
        = f.link_to_remove t('form.nested.delete')
      .row-fluid
        .span4= nested_datepicker f, :achievement_date, :medical_exam
        .span4= nested_text f, :name, :medical_exam
      .row-fluid
        %div= nested_big_text f, :results, :medical_exam, :medical_exam_results
        %div= nested_big_text f, :observations, :medical_exam, :medical_exam_observations
  = form.link_to_add t('form.nested.add'), :medical_exams##