= form.fields_for :patient do |f|
  .form-field= nested_text       f, :dni, :patient
  .form-field= nested_text       f, :firstname, :patient
  .form-field= nested_text       f, :lastname, :patient
  .form-field= nested_datepicker f, :birthdate, :patient
  .form-field= nested_select_box f, :blood_type, blood_types, :patient
  .form-field= nested_number     f, :height, :patient, :patient_height
  .form-field= nested_number     f, :weight, :patient, :patient_weight
  .form-field= nested_select_box f, :sex, sex_values, :patient
  .form-field= nested_text       f, :address, :patient
  .form-field= nested_mail       f, :email, :patient
  .form-field= nested_text       f, :home_phone, :patient
  .form-field= nested_text       f, :movile_phone, :patient