= form.fields_for :patient do |f|
  = avatar_field      f, :avatar, :patient
  = nested_text       f, :dni, :patient
  = nested_text       f, :firstname, :patient
  = nested_text       f, :lastname, :patient
  = nested_datepicker f, :birthdate, :patient
  = nested_select_box f, :blood_type, blood_types, :patient
  = nested_number     f, :height, :patient, :patient_height
  = nested_number     f, :weight, :patient, :patient_weight
  = nested_select_box f, :sex, sex_values, :patient
  = nested_text       f, :address, :patient
  = nested_mail       f, :email, :patient
  = nested_text       f, :home_phone, :patient
  = nested_text       f, :movile_phone, :patient
  .contacts_panel
    .contact_header
      = contacts_section
    = render :partial => 'contacts_form', :locals => {:form => f}