%div
  = form.fields_for :vaccines do |f|
    %div.form-panel.nested-form-panel
      %div
        = f.link_to_remove t('form.nested.delete'), :class => :medical_history_btn_remove
      %div
        = nested_datepicker f, :last_application, :vaccine
        = nested_text f, :name, :vaccine
  = form.link_to_add t('form.nested.add'), :vaccines