%div
  = form.fields_for :vaccines do |f|
    %div.nested-form-panel
      .hide= f.link_to_remove t('form.nested.delete')
      .row-fluid
        .span4= nested_datepicker f, :last_application, :vaccine
        .span4= nested_text f, :name, :vaccine
  = form.link_to_add t('form.nested.add'), :vaccines