- content_for :content do
	.form-top
		%legend=t 'title.medical_history.search'
		.well
			%div.tabbable
				%ul.nav.nav-tabs#tabs
					%li
						%a{:href => "#dni-panel", 'data-toggle' => 'tab'}= t 'medical_history.search.title.by_dni'
					%li
						%a{:href => "#name-panel", 'data-toggle' => 'tab'}= t 'medical_history.search.title.by_name'
			%div.tab-content
				%div#dni-panel.tab-pane
					= form_tag :search_patient_by_dni_medical_histories, class: 'form-horizontal', id: 'patient_by_dni' do
						.row-fluid
							.span4
								.control-group
									%label.control-label=t "medical_history.search.dni"
									.controls
										- if @selected_tab.nil? or @selected_tab == 'dni-panel'
											%input{:type => :text, :id => :dni, :name=> :dni, :autofocus => true}
										- else
											%input{:type => :text, :id => :dni, :name=> :dni}
						.form-actions
							= submit_tag t('medical_history.search.search'), :class => "btn btn-primary"
							= link_to t('medical_history.search.clean') , "#", :class => "btn", :onclick => '$("#patient_by_dni").reset();'
				%div#name-panel.tab-pane
					= form_tag :search_patient_by_name_medical_histories, class: 'form-horizontal', id: "patient_by_name"  do
						.row-fluid
							.span4
								.control-group
									%label.control-label=t 'medical_history.search.firstName'
									.controls
										- if @selected_tab == 'name-panel'
											%input{:type => :text, :id => :first_name, :name=> :first_name, :autofocus => true}
										- else
											%input{:type => :text, :id => :first_name, :name=> :first_name}
							.span4
								.control-group
									%label.control-label=t 'medical_history.search.lastName'
									.controls
										%input{:type => :text, :id => :last_name, :name=> :last_name}
						.form-actions
							= submit_tag t('medical_history.search.search'), :class => "btn btn-primary"
							= link_to t('medical_history.search.clean') , "#", :class => "btn", :onclick => '$("#patient_by_name").reset();'
		- if not @medical_histories.nil?
			.custom-search-results
				%table#search_result.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0"}
					%thead.table-header
						%tr
							%th=t "medical_history.search.dni"
							%th=t "medical_history.search.firstName"
							%th=t "medical_history.search.lastname"
							%th.options= t :options
						%tbody
							- for medical_history in @medical_histories
								%tr
									%td=medical_history.patient.dni
									%td=medical_history.patient.firstname
									%td=medical_history.patient.lastname
									%td.options{"style" => "vertical-align: middle;"}
										.btn-group
											=link_to raw("<i class=\"icon-search\">&nbsp;#{t 'actions.show'}</i>"), medical_history_path(:id => medical_history.id, :back_url => search_medical_histories_path), :class => "btn"
											=link_to raw("<i class=\"icon-edit\">&nbsp;#{t 'actions.edit'}</i>"), edit_medical_history_path(:id => medical_history.id, :back_url => search_medical_histories_path), :class => "btn"
			:javascript
				$(document).ready(function() {
							$('#search_result').dataTable({
							"bSort": false,
							"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
							"sPaginationType": "bootstrap",
							"aLengthMenu": [[5, 10, 15, 25, 50, 100], [5, 10, 15, 25, 50, 100]],
							"iDisplayLength": 10,
							"oLanguage": {
								"oPaginate": {
										"sFirst": I18n.t("data_table.paginate.first"),
										"sLast": I18n.t("data_table.paginate.last"),
										"sNext": I18n.t("data_table.paginate.next"),
										"sPrevious": I18n.t("data_table.paginate.previous")
									},
									"sEmptyTable": I18n.t("medical_history.search.no_results"),
									"sInfo": I18n.t("data_table.info"),
									"sInfoEmpty": I18n.t("data_table.infoEmpty"),
									"sInfoFiltered": I18n.t("data_table.infoFiltered"),
									"sInfoPostFix": I18n.t("data_table.infoPostFix"),
									"sSearch": I18n.t("data_table.search"),
									"sZeroRecords": I18n.t("data_table.zeroRecords"),
									"sLengthMenu": I18n.t("data_table.lengthMenu")
							}
					});
				});

	:javascript
		$('a[href$="#dni-panel"]').click( function() { $("#patient_by_name").reset(); });
		$('a[href$="#name-panel"]').click(function() { $("#patient_by_dni").reset();  });
		jQuery.fn.reset = function () { $(this).each (function() { this.reset(); }); }

		var selected_tab = '#{@selected_tab}';
		if(!selected_tab) {
			selected_tab = 'dni-panel';
		}
		var query = '#tabs li a[href="#' + selected_tab + '"]';
		$(query).tab('show');

= render :file => 'layouts/application'