= form_for(@medical) do |f|
  = errors
  = text f, :cuil
  = text f, :dni
  = text f, :firstname
  = text f, :lastname
  = text f, :specialization
  = text f, :email
  = text f, :home_phone
  = text f, :movile_phone
  = submit f
