= form_for @medical, :html => { :class => 'well form-horizontal' } do |f|
  = errors
  %fieldset
    = text f, :cuil
    = text f, :dni
    = text f, :firstname
    = text f, :lastname
    = select_one f, :medical_specialization
    = text f, :email
    = text f, :home_phone
    = text f, :movile_phone
    .form-actions
      = back_button list_path
      = submit f
