= render :partial => 'crud/show', :locals => {:name => :cuil, :value => @medical.cuil }
= render :partial => 'crud/show', :locals => {:name => :dni, :value => @medical.dni }
= render :partial => 'crud/show', :locals => {:name => :firstname, :value => @medical.firstname }
= render :partial => 'crud/show', :locals => {:name => :lastname, :value => @medical.lastname }
= render :partial => 'crud/show', :locals => {:name => :specialization, :value => @medical.specialization }
= render :partial => 'crud/show', :locals => {:name => :email, :value => @medical.email }
