- content_for :content do
  .session
    = form_for(resource, :as => resource_name, :url => user_registration_path(resource_name), :html => { :method => :put, :class => 'well form-horizontal' }) do |f|
      %fieldset
        %legend= t :user_profile
        = devise_error_messages!
        .row-fluid
          .span5
            .control-group
              = f.label User.human_attribute_name(:dni), :class => 'control-label'
              .controls= f.text_field :dni
            .control-group
              = f.label User.human_attribute_name(:email), :class => 'control-label'
              .controls= f.text_field :email
            .control-group
              = f.label User.human_attribute_name(:first_name), :class => 'control-label'
              .controls= f.text_field :first_name
            .control-group
              = f.label User.human_attribute_name(:last_name), :class => 'control-label'
              .controls= f.text_field :last_name
            .control-group
              = f.label User.human_attribute_name(:birthdate), :class => 'control-label'
              .controls= f.text_field :birthdate
            .control-group
              = f.label User.human_attribute_name(:sex), :class => 'control-label'
              .controls= f.text_field :sex
            .control-group
              = f.label User.human_attribute_name(:address), :class => 'control-label'
              .controls= f.text_field :address
            .control-group
              = f.label User.human_attribute_name(:movile_phone), :class => 'control-label'
              .controls= f.text_field :movile_phone
            .control-group
              = f.label User.human_attribute_name(:home_phone), :class => 'control-label'
              .controls= f.text_field :home_phone
          .span5
            .control-group
              .controls= show_photo @user.photo.url :medium
            = photo_field f, :photo, :user
        %legend
          = t(:change_my_password)
        .control-group
          = f.label t(:new_password), :class => 'control-label'
          .controls
            = f.password_field :password, :autocomplete => "off"
            %p.help-block= t :password_clarification
        .control-group
          = f.label t(:password_confirmation), :class => 'control-label'
          .controls= f.password_field :password_confirmation
        .control-group
          = f.label t(:current_password), :class => 'control-label'
          .controls
            = f.password_field :current_password
            %p.help-block= t :current_password_clarification

        .form-actions
          = f.submit  t(:update), :class => "btn btn-primary"
 
= render :file => 'layouts/application'