!!!
%html#layout
  %head
    %title
      = h(yield(:title))
    = stylesheet_link_tag  "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      = render 'menu'
      .container= yield :content      
      .push
    %footer
      %p.footer-description=raw t('app.author') + " / " + t('app.version')
    / Modal
    #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel= t :sign_out
      .modal-body
        %p= t :sign_out_question
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}= t :no_
        %a.btn.btn-primary{"data-method" => "delete", :href => "/logout", :rel => "nofollow"}= t :yes_
:javascript
  I18n.defaultLocale = "#{I18n.locale}";
  I18n.locale = "#{I18n.locale}";
